.second-header {
  display: flex;
  flex-wrap: wrap;
  
  
  height:100px;
  width: 100%;

  justify-content: space-between;
  

}
h1 {
  display: flex;
  justify-content: center;
}

.que {
  display:flex;
  justify-content: center;
}

.choiUl {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.clickable:hover {
  color: blue;
  cursor:pointer;
}